
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.rnbluetoothle">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- BLE scanning is commonly used to determine a user's location with Bluetooth LE beacons. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Bluetooth advertiser/discover service -->
    <application>
        <service android:name=".BLEService" android:label="Bluetooth advertiser" />
    </application>

</manifest>
  